*{
    margin: 0;
    padding: 0;

}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .hero-image {
    background-image: url("https://images.pexels.com/photos/7521112/pexels-photo-7521112.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .container-sized{
      width: 100%;
      margin: auto;
      height: 500px;
      background-color: #98f5e1;
      float: left;
    }
    
    .card-one{
        margin-right: 140px;
        margin-top: 150px;
        width: 250px;
        height: 250px;
        background-color: #013a63;
        float: right;
        
        
    }
    .card-two{
        width: 250px;
        height: 250px;
        background-color: #ee6c4d;
        float: right;
        margin-right: 150px;
        margin-top: 150px;
        
    }
    .card-three{
        width: 250px;
        height: 250px;
        background-color: #bc4749;
        float: right;
        margin-right: 150px;
        margin-top: 150px;
        
        
  }
  .image-card{
    width: 550px;
    margin: 150px;
    
}
.container-text{
    margin-top: 250px;
    margin-right: 200px;
    width: 250px;
    float: right;
}
